
<!-- THis is code I reused from the in person class project. I assume I'm allowed to reuse the code but I made the alterations necessary. -->
{% extends 'base.html' %}

{% block content %}
    {% for dep in dependents %}
        <div class="post">
            <p>Dependent ID: {{ dep['id'] }}</p>
            <p>Name: {{ dep['firstName'] }} {{ dep['lastName'] }}</p>
            <p>Relationship: {{ dep['relationship'] }}</p>
            <p>Employee: {{ dep['employeeName'] }} (ID: {{ dep['emp_id'] }})</p>

            <a href="{{ url_for('edit', id=dep['id']) }}"> Edit Dependent</a>

            <form action="{{ url_for('delete', id=dep['id']) }}" method="post" style="display:inline;">
                <input type="submit" value="Delete" 
                       onclick="return confirm('Are you sure you want to delete this dependent?');">
            </form>
        </div>
    {% endfor %}
{% endblock %}